html {
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.hidden {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-list {
  list-style-type: none;
  width: 50%;
  padding: 0;

  border: 2px solid darkslategray;
  /* text-decoration: none; */
}

.book {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 8px;
  font-weight: bold;
}

p {
  margin: 0;
}

li { background: white; }
li:nth-child(odd) { background: lightgray; }

.separator {
  width: 53px;
  height: 16px;
  border-bottom: darkslategray 2px solid;
  margin-bottom: 14px;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  border: darkslategray 2px solid;
  font-weight: bold;
  font-size: 16px;
  height: 24px;
}

button {
  width: fit-content;
  align-self: flex-end;
  box-shadow: 2px 2px 2px darkslategray;
  font-weight: bold;
}

h1 {
  font-size: 1.5em;
}

